@font-face {
    font-family: Vaughan;
    src: url(../fonts/vaughan/Vaughan-FREE.otf);
}
@font-face {
    font-family: Caviar-Dreams;
    src: url(../fonts/caviar_dreams/CaviarDreams.ttf);
}
@font-face {
    font-family: Blue-Ocean;
    src: url(../fonts/blue_ocean_3/BLUE\ OCEAN.ttf);
}
:root{
    color-scheme:light dark;
    
}
html,body{
    overflow-x: hidden;
    width: 100%;
}
body{
    background-image: url(../images/noise.svg);
    background-color: light-dark(#f78fb3,blueviolet);
    height: 100vh;
    margin:0;
    font-family:Caviar-Dreams;
}
section{
    margin:0;
    padding:0;
    
}
header{
    padding: 0;
    margin: 0;
    height: 0;
}

